<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>AdminOperation</servlet-name>
  	<display-name>AdminOperation</display-name>
  	<description></description>
  	<servlet-class>org.piju.servlets.AdminOperation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckoutServlet</servlet-name>
  	<display-name>CheckoutServlet</display-name>
  	<description></description>
  	<servlet-class>org.piju.servlets.CheckoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditProdServlet</servlet-name>
  	<display-name>EditProdServlet</display-name>
  	<description></description>
  	<servlet-class>org.piju.servlets.EditProdServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditServlet</servlet-name>
  	<display-name>EditServlet</display-name>
  	<description></description>
  	<servlet-class>org.piju.servlets.EditServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPass</servlet-name>
  	<display-name>ForgotPass</display-name>
  	<description></description>
  	<servlet-class>org.piju.servlets.ForgotPass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>org.piju.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>org.piju.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>org.piju.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewServlet</servlet-name>
  	<display-name>ViewServlet</display-name>
  	<description></description>
  	<servlet-class>org.piju.servlets.ViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ValidateOtp</servlet-name>
  	<display-name>ValidateOtp</display-name>
  	<description></description>
  	<servlet-class>org.piju.servlets.ValidateOtp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewPassword</servlet-name>
  	<display-name>NewPassword</display-name>
  	<description></description>
  	<servlet-class>org.piju.servlets.NewPassword</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminOperation</servlet-name>
  	<url-pattern>/AdminOperation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckoutServlet</servlet-name>
  	<url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditProdServlet</servlet-name>
  	<url-pattern>/EditProdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditServlet</servlet-name>
  	<url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPass</servlet-name>
  	<url-pattern>/ForgotPass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewServlet</servlet-name>
  	<url-pattern>/ViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValidateOtp</servlet-name>
  	<url-pattern>/ValidateOtp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewPassword</servlet-name>
  	<url-pattern>/NewPassword</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
